<!DOCTYPE html>
<html lang="en">
<head>

    <title>Financial Risk Management</title>
<style>
body {
  background-image: url('https://www.iqbizsuite.com/iqnew/img/service/payroll_background_full.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
</head>

<body>
<center>
                    <h2 class="title">Financial Risk Assessment</h2>

                        <img src="../static/images/bad.jpg" width="300" height="300">

                    <h3 class="title"><p>The financial risk assesed is <b><u>{{z}}</u></b></p> </h3>
</center>

</body>
</html>