<!DOCTYPE html>
<html lang="en">
<head>



    <title>Financial Risk Management</title>


<style>
body {
  background-image: url('https://www.iqbizsuite.com/iqnew/img/service/payroll_background_full.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
</head>
<body>
    <center>
                    <h2 class="title">Financial Risk Assessment</h2>
                    <form action="/model" method="post">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="Sex">
                                            <option disabled="disabled" selected="selected">Sex
                                            </option>
                                            <option value="0">female</option>
                                            <option value="1">male</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="clo-2">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="Job">
                                            <option disabled="disabled" selected="selected">Jobs</option>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="clo-2">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="Checking account">
                                            <option disabled="disabled" selected="selected">Checking account</option>
                                            <option value="0">rich</option>
                                            <option value="1">moderate</option>
                                            <option value="2">little</option>

                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="clo-2">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="Housing">
                                            <option disabled="disabled" selected="selected">Housing</option>
                                            <option value="0">own</option>
                                            <option value="1">free</option>
                                            <option value="2">rent</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="clo-2">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="Saving accounts">
                                            <option disabled="disabled" selected="selected">Saving accounts</option>
                                            <option value="0">rich</option>
                                            <option value="1">quite rich</option>
                                            <option value="2">moderate</option>
                                            <option value="3">little</option>

                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="clo-2">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="Purpose">
                                            <option disabled="disabled" selected="selected">Purpose</option>
                                            <option value="0">radio/TV</option>
                                            <option value="1">education</option>
                                            <option value="2">furniture/equipment</option>
                                            <option value="3">car</option>
                                            <option value="4">business</option>
                                            <option value="5">domestic appliances</option>
                                            <option value="6">repairs</option>
                                            <option value="7">vacation/others</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="clo-2">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <input type="number" name="Credit amount" value="" placeholder="Credit amount">
                                    </div>
                                </div>
                            </div>
                            <div class="clo-2">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <input type="number" name="Duration" value="" placeholder="Duration">
                                    </div>
                                </div>
                            </div>
                            <div class="clo-2">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <input type="number" name="Age" value="" placeholder="Age">
                                    </div>
                                </div>
                            </div>
                            <input type="submit" value="submit">
                        </div>
                    </form>
    </center>
</body>
</html>